/* survey form  */
#survey-form {
  display: grid;
  grid-template-columns: 1fr;
}
/* tribute page */
#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Technical Documentation Page */

@media (max-width: 900px) {
  * {
    font-size: 16px;
  }
}

/* product loading page  */
.container {
  display: flex;
  gap: 20px;
}
#nav-bar {
  position: fixed;
}

@media (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* portfolio page  */
#welcome-section {
  height: 100%;
}

#navbar {
  position: fixed;
}

@media (max-width: 390px) {
  * {
    font-size: 10px;
  }
}
